<config>
	<modules>
		<Codilar_Heatmap>
			<version>0.0.1</version>
		</Codilar_Heatmap>
	</modules>
	<global>
		<models>
			<codilar_heatmap>
				<class>Codilar_Heatmap_Model</class>
				<resourceModel>codilar_heatmap_resource</resourceModel>
			</codilar_heatmap>
			<codilar_heatmap_resource>
				<class>Codilar_Heatmap_Model_Resource</class>
				<entities>
					<tracker>
						<table>codilar_heatmap_tracker_data</table>
					</tracker>
				</entities>
			</codilar_heatmap_resource>
		</models>
		<blocks>
			<codilar_heatmap>
				<class>Codilar_Heatmap_Block</class>
			</codilar_heatmap>
		</blocks>
		<helpers>
			<codilar_heatmap>
				<class>Codilar_Heatmap_Helper</class>
			</codilar_heatmap>
		</helpers>
		<resources>
			<codilar_heatmap_setup>
				<setup>
					<module>Codilar_Heatmap</module>
				</setup>
			</codilar_heatmap_setup>
		</resources> 
	</global>
	<frontend>
		<routers>
			<codilar_heatmap>
				<use>standard</use>
				<args>
					<module>Codilar_Heatmap</module>
					<frontName>heatmap</frontName>
				</args>
			</codilar_heatmap>
		</routers>
		<layout>
			<updates>
				<codilar_heatmap>
					<file>heatmap.xml</file>
				</codilar_heatmap>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <codilar_heatmap_config>
                                            <title>Codilar Configuration</title>
                                        </codilar_heatmap_config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<codilar_heatmap before="Mage_Adminhtml">Codilar_Heatmap_Adminhtml</codilar_heatmap>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
        <codilar_heatmap_config>
            <tracker>
                <overflow_limit>100</overflow_limit>
                <threshold>500</threshold>
            </tracker>
            <viewer>
                <max_layers>1</max_layers>
            </viewer>
        </codilar_heatmap_config>
    </default>
</config>